:root {
  --azul:#144ca0;
  --rosita:#7a1394;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus 
{
  outline:none
}


body {
  background-image: linear-gradient(120deg, var(--azul) 0%, var(--rosita) 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
 
}

header {
  margin:auto;
  width:100%;
  text-align: center;
  height:10%;
  font-size: 2em;
  display: block;
  
}

/* FORMULARIO */
.form{
  width:100%;
  display: flex;
  justify-content: center;
  margin:20px 0;
}

.form .text{
  display: block;
  height:30px;
  width: 30%;
  padding:0 10px;
  margin-right:10px;
  border-radius:5px ;
}

.form .submit {
  cursor:pointer;
  border-radius: 50px;
  min-width: 5%;
  font-size: 1.1em;
}



.submit:hover{
  background-color: hsl(185, 85%, 3%);
  color:white;
}


/* TAREA */
.contenedor-tarea{
  display: flex;
  justify-content: center;
}


.item-tareas{
  display: block;
  list-style: none;
  background-color: white;
  color:black;
  min-width:15%;
  margin:10px;
  padding:0 10px;
  border-radius: 5px; 
}

.btn-completado , .btn-eliminar {
  border-radius: 50px;
  width: 5%;
  margin:10px 2px;
  height:30px;
  cursor:pointer;
}

.completado-boton ,.btn-completado:hover{
  background-color: green;
}


.btn-eliminar:hover{
  background-color:rgb(243, 11, 11);
}

.completado{
  text-decoration: line-through;
  opacity: 0.5;
}















